.panel-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
}

.panel-heading .text-primary {
    font-weight: bold;
}